@font-face {
    font-family: 'Rajdhani-Medium';
    src: url('fonts/Rajdhani-Medium.ttf');
}

@font-face {
    font-family: 'SpaceGrotesk-Bold';
    src: url('fonts/SpaceGrotesk-Bold.ttf');
}

@font-face {
    font-family: 'SpaceGrotesk-Regular';
    src: url('fonts/SpaceGrotesk-Regular.ttf');
}